services:
  # Сервис бэкэнда
  backend:
    image: node:18-alpine
    container_name: circle_covers_bot
    restart: on-failure # <--- здесь
    user: '${UID}:${GID}' # <-- запускаем от пользователя хоста
    working_dir: /app
    env_file:
      - .env
    volumes:
      - ./:/app # Монтируем локальную папку с кодом

    command: >
      sh -c "
      apk add --no-cache ffmpeg bash python3 make g++ &&
      npm ci &&
      npm run build &&
      npm run start:js
      "

    environment:
      NODE_ENV: development
